body{
   font-family: sans-serif;
   background: #73C8A9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #373B44, #73C8A9);
   color: white;
}
.main-container{
   display: flex;
   flex-direction:column;
   align-items: center;
   margin: auto;
   width: 96vw;
   height: 1000px;
   background: #73C8A9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sub-container{
   width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 5px;
}
.middle{
   margin-top: 20px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.details{
    margin-top: 50px;
    flex-wrap: wrap;
    width: 99%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: auto;
    gap: 10px;
}
.content-name{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 200px;
     height: 310px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  width: 200px; 
  height: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 10px;
}
@media (max-width: 400px) {
    .main-container{
       height: 800px;
    }
    .details{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }
}
#refresh{
   cursor: pointer;
}